{% extends 't_layout.html' %}

{% load i18n %}

{% block content_header %}{% endblock %}

{% block content_css %}
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
{% endblock %}

{% block content_body %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">Log-in to your account</div>
            </h2>
            <form class="ui large form" method="post" action="{% url 'account:login' %}">
                {% csrf_token %}
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    {% if error_message %}
                        {{ error_message }}
                    {% endif %}
                    <button type="submit" class="ui fluid large teal submit button">Login</button>
                </div>

                <div class="ui error message"></div>

            </form>

            <div class="ui message">
                New to us? <a href="{% url 'account:signup' %}">Sign Up</a>
            </div>
        </div>
    </div>

{% endblock %}